@import url("https://fonts.googleapis.com/css2?family=Poppins");

.container-fluid{
    background-color: #edededf2;
}

.search{

    flex-basis: 3000px !important;
    border-radius: 15px !important;
    background-color: #eee !important;
    width: 200px !important;
    opacity: .5;
    font-family: Poppins;

}

.search_button{
    outline-color: #4bb6b7 !important;
    border-color: #4bb6b7 !important;
    border-radius: 15px !important;
    color: #4bb6b7 !important;

}
.search_button:hover{
    
    background-color: #4bb6b7 !important;
    outline-color: #4bb6b7 !important;
    color: azure !important;
    
}
.navbar-brand{
    background-color: #4bb6b7;
    border-radius: 25px;
    width: 100px !important;
    padding: 20px;
    text-align: center;
    color: white !important;
    font-family: Poppins;

}
.nav-link{
    cursor: pointer;
}

img{
    z-index: -1;
}
.big-carousel{
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
    border-radius:100px;
    overflow: hidden ;
    transition: 0.2s ease-in-out;
    box-shadow: rgba(48, 51, 47, 0.5) 15px 35px 50px;
    
}
h5{
    font-family: Poppins;
    font-weight:900 !important;
    color: rgb(255, 255, 255) !important;
    font-size: x-large !important;
}

p.big-carousel{
    font-family: Poppins !important;
    font-weight: bolder !important;
}

.left-container{
    margin-top: 30px;
}
.right-container{
   
    margin-top: 30px;
}
.container-box{
    margin-top: 5%;
    box-shadow: rgba(48, 51, 47, 0.5) 0px 0px 8px 5px;
}
.big-texts{
    font-family: Poppins;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: large;
}
#filter-search{
    width: 100%;
    height: 40px;
    margin-bottom: 1%;
    margin-top: 5%;
    background: rgb(245, 245, 245);
    border: 2px solid transparent;
    padding-inline: 30px 10px;
    transition: all 0.3s ease-in-out 0s ;
    font-size: small;
    
}
.filter-sort-search-btn{
    width: 100%;
    height: 35px;
    margin-top:10px ;
    border-radius: 5px;
    border-width: 0px;
    background-color: #c3c3c3;
    color: white;
    font-family: Poppins;
    letter-spacing: 1px;
    font-size: small;
    margin-bottom: 5%;
}
.filter-sort-search-btn:hover{
    background-color: #4bb6b7;
    letter-spacing: 2px;
    transition: 0.3s ease-in-out;

}
#filter-search:hover{
    border: 2px solid #4bb6b7 ;
}
#filer-search:focus{
    border: 2px solid #4bb6b7 ;  
}
.sort-checkbox{
    content: "";
    margin-bottom: 5%;
    color: transparent;
    border-radius: inherit;
    border: 0px;
    background-color: transparent;
    background-size: contain;
    box-shadow: rgb(204, 211, 216) 0px 0px 0px 1px inset;
}
.sort-labels{
    font-family: Poppins;
    font-size: smaller;
    cursor: pointer;
}
.element{
    margin-top: 5%;
}
.element-picture{
    width: 100px;
    height: 100px;
   
    
}
.page-transition-btns{
    justify-content: center;
    display: flex;
}
ul>li{
    list-style-type: none;
    display: inline;
}
.before-footer{
    margin: 3%;
    display: flex;
    justify-content: center;
}
.transition-btns{
    width: 40px;
    height: 40px;
    border: 0px;
    background-color: #c3c3c3;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    letter-spacing: 1px;
}
#page-number{
    background-color: #4bb6b7;
    color: white;
    font-family: Poppins;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}
.transition-btns:hover{
    position: relative;
    padding: 20px;
    transition: 0.3s ease-in-out;
}
.arrows:hover{
    position: relative;
    padding: 20px;
    transition: 0.3s ease-in-out;
}